$theme-border-color: #dadce0;
$theme-font-primary-color: #423f3f;
$theme-font-secondary-color: #747474;
$theme-primary-color: #1a73e8;
$white-color: #ffffff;

$base-border-radius: 4px;

$light-font-weight: 300;
$medium-font-weight: 500;
$normal-font-weight: 400;
